<template>
  <q-page class="flex flex-center">
    <transition
      appear
      enter-active-class="animated slideInUp"
      leave-active-class="animated fadeOut">
      <div
        v-if="availableLangs.length && !this.searchText"
        class="userform">
        <h5>{{ person.split('_').join(' ') }}</h5>
        <p>Available in {{ availableLangs.length}} languages</p>
        <q-select
          color="purple-12"
          v-model="userSelectedLang"
          :options="options"
          label="Select Language"
          @update:model-value="getWordCount">
          <template v-slot:prepend>
            <q-icon name="translate" />
          </template>
        </q-select>
        <p class="word-count">Word Count: {{ wordCount }}</p>
        <q-btn
          color="primary"
          :label="this.selectedLang"
          class="page-btn"
          @click="loadPage" />
      </div>
    </transition>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { defineComponent } from 'vue'
import wordsCount from '../mixins/word.count'
import { openURL } from 'quasar'

export default defineComponent({
  name: 'PageIndex',

  mixins: [
    wordsCount
  ],

  methods: {
    ...mapActions('session', [
      'setWordCount',
      'setSelectedLang'
    ]),
    ...mapActions('api', [
      'wikiGetWordCount'
    ]),
    loadPage () {
      const link = `https://${this.selectedCode.langCode}.wikipedia.org/wiki/${this.person}`
      openURL(link)
    }
  },

  computed: {
    ...mapState('session', [
      'availableLangs',
      'wordCount',
      'person',
      'selectedLang',
      'searchText'
    ]),
    options () {
      const ops = []
      this.availableLangs.forEach(lang => {
        ops.push(lang.name)
      })
      return ops
    },
    selectedCode () {
      return this.availableLangs.find(x => x.name === this.selectedLang)
    },
    userSelectedLang: {
      get: function () {
        return this.selectedLang
      },
      set: function (value) {
        this.setSelectedLang(value)
      }
    }
  }
})
</script>

<style lang="scss" scoped>
h5 {
  color: white;
  background-color: black;
  padding: 2vh, 5vh;
  width: 70vw;
  border-radius: 20px;
  text-align: center;
}
h4 {
  margin: 5vh 5vw 1vh;
}
.page-btn {
  margin: 3vh;
  float: right;
}
.word-count {
  margin: 2vh;
}
</style>
