<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <div class="flex flex-center">
            <img
              alt="Graduway logo"
              src="~assets/logo.png"
              style="width: 50px; height: 50px"
            >
            <div class="headline">
              <h4>Wikipedia Lookup</h4>
              <div class="byline">Famous Americans</div>
            </div>
            <div class="userinput">
              <q-input
                outlined
                dark
                dense
                standout
                bottom-slots
                v-model="userSearch"
                label="Enter name"
                counter maxlength="48"
                @keyup="checkEnter">
                <template v-slot:before>
                  <q-icon name="public" />
                </template>

                <template v-slot:append>
                  <q-icon
                    v-if="searchText !== ''"
                    name="close"
                    @click="searchText = ''"
                    class="cursor-pointer" />
                  <q-icon
                    name="search"
                    @click="lookupName" />
                </template>

                <template v-slot:hint>
                  famous Americans
                </template>
              </q-input>
            </div>
          </div>
        </q-toolbar-title>

        <div class="soft-text">v{{ version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'
import { mapState, mapActions } from 'vuex'
import wordsCount from '../mixins/word.count'
import langs from '../json/lang.codes'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  mixins: [
    wordsCount
  ],

  data () {
    return {
      langDictionary: langs,
      langResponse: null,
      userSearch: ''
    }
  },

  methods: {
    ...mapActions('api', [
      'wikiGetPerson',
      'wikiGetLanguages',
      'wikiGetWordCount'
    ]),
    ...mapActions('session', [
      'setPerson',
      'addLangs',
      'setAvailableLangs',
      'setSearchText',
      'setWordCount'
    ]),
    checkEnter (e) {
      if (e.keyCode === 13) {
        this.lookupName()
      }
    },
    lookupName () {
      if (this.userSearch === '') {
        this.setAvailableLangs([])
        this.langResponse = null
        this.setWordCount(0)
        return
      }
      const nameSplit = this.userSearch.split(' ')
      nameSplit.forEach((name, index) => {
        nameSplit[index] = name.charAt(0).toUpperCase() + name.substr(1)
      })
      this.setPerson(nameSplit.join('_'))
      console.log('person', this.person)
      this.setSearchText(this.person)
      const payload = {
        name: this.person
      }
      this.wikiGetPerson(payload)
        .then(response => {
          console.log('response', response.data)
          this.setSearchText('')
          this.userSearch = ''
          const path = response.data.query.pages
          const keys = Object.keys(path)
          keys.forEach(key => {
            if (path[key].pageprops) {
              const item = path[key].pageprops.wikibase_item
              this.lookupLanguages(item)
            }
          })
        })
        .catch(error => {
          console.error(error)
        })
    },
    lookupLanguages (item) {
      this.setAvailableLangs([])
      const payload = {
        item
      }
      this.wikiGetLanguages(payload)
        .then(response => {
          this.langResponse = response.data
          console.log('langResponse', this.langResponse)
          Object.keys(this.langResponse.entities[payload.item].sitelinks).forEach(language => {
            let found
            const ndx = language.indexOf('w')
            const responseLang = language.substr(0, ndx)
            if (ndx === 3) {
              found = this.langDictionary.find(x => x['alpha3-b'] === responseLang)
            } else {
              found = this.langDictionary.find(x => x.alpha2 === responseLang)
            }
            if (found) {
              if (!language.includes('quote') && !language.includes('source') && !language.includes('news')) {
                this.langResponse.entities[payload.item].sitelinks[language].name = found.English
                this.langResponse.entities[payload.item].sitelinks[language].langCode = responseLang
                this.addLangs(this.langResponse.entities[payload.item].sitelinks[language])
              }
            }
          })
          this.getWordCount()
        })
    }
  },

  computed: {
    ...mapState('api', [
      'version'
    ]),
    ...mapState('session', [
      'availableLangs',
      'wordCount',
      'person',
      'selectedLang',
      'searchText'
    ]),
    selectedCode () {
      return this.availableLangs.find(x => x.name === this.selectedLang)
    }
  }
})
</script>

<style lang="scss" scoped>
h4 {
  margin: 1vh 5vw 1vh;
}
.soft-text {
  position: absolute;
  opacity: .5;
  top: 0;
}
.flex {
  div {
    margin: 0 5vw;
  }
}
.byline {
  font-size: 1em;
  text-align: center;
}
.userinput {
  margin-left: -5vw !important;
}
</style>
